.nav-list {

  a {
    margin: 0 4px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    }

    &:first-child {
      margin: 0 4px 0 0;
    }

    &:last-child {
      margin: 0 8px 0 4px;
    }

    &.active {
      background: rgba(0,0,0,.2);
      box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    }
  }
}
