@import "src/app/assets/styles/1-base/1-variables";

.nav-list {

  a {
    margin: 0 4px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;

    &:hover {
      text-decoration: underline;
      background: rgba(255, 255, 255, 0.2);
    }

    &:first-child {
      margin: 0 4px 0 0;
    }

    &:last-child {
      margin: 0 8px 0 4px;
    }

    &.active {
      background: rgba(0,0,0,.2);
    }
  }
}
