@import "src/app/assets/styles/1-base/1-variables";
@import "src/app/assets/styles/super/super-core";
@import "src/app/assets/styles/super/super-body";

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $--bs-blue;
  font-weight: 600;
  z-index: 3;

  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  img {
    margin: 0 16px;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 8px;

    &:hover {
      opacity: 0.8;
    }
  }

  #youtube-logo {
    height: 40px;
    margin: 0 16px;

    &:hover {
      opacity: 0.8;
    }
  }

  & > .night-mode {
    padding: 0 10px 0 0;
    border-right: 1px solid $--bs-white;
  }

  & > .settings {
    padding: 0 0 0 10px;
    border-left: 1px solid $--bs-white;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    color: $--bs-white;
    text-decoration: none;
    cursor: pointer;
  }

  .title {
    font-size: larger;
    font-weight: bold;
  }

  &-setting {
    display: flex;
    padding-left: 16px;

    .super-icon {
      margin: 0 12px 0 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .mat-ico {
        height: 40px;
        margin: 0 16px;
      }
    }
  }
}

.color-picker {
  margin-right: 10px;
}


.toggle-account-panel {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background-color: $--bs-white;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  .toggle-account & {
    display: block;
    cursor: auto;
  }
}

.toggle-super-account-panel {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background-color: $--bs-white;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  .toggle-super-account & {
    display: block;
    cursor: auto;
  }
}

.toggle-lang-panel {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 50px;
  height: auto;
  border-radius: 3px;
  background-color: $--bs-white;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  align-items: center;
  flex-direction: column;
  padding: 10px 0;

  .toggle-lang & {
    display: flex;
    cursor: auto;
  }
}

.toggle-mini-basket-panel {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 250px;
  height: 150px;
  border-radius: 3px;
  background-color: $--bs-white;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  .toggle-mini-basket & {
    display: block;
    cursor: auto;
  }
}

.toggle-setting-panel {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 250px;
  height: 350px;
  border-radius: 3px;
  background-color: $--bs-white;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

  .toggle-setting & {
    display: block;
    cursor: auto;
  }
}
