@import "src/app/assets/styles/1-base/1-variables";

body {
  &.dark {
    background-color: $--bs-gray-dark;
  }

  &.light {
    background-color: $--bs-white;
  }
}

.toolbar {
  p, span, div, a {
    color: $--bs-white;
  }
}

.logo {
  padding: 0 24px 0 0;
  margin: 0 24px 0 0;
  border-right: 1px solid $--bs-white;
}
